* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto !important;
  padding: 0 15px;
  margin: 86px 0;
}
